# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\One Drive Backup\OneDrive - Higher Education Commission\COMSATS\4th Sem\CSE304 - Object Oriented Software Engineering\Project Pharmacy\Project Code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
